body {
  background-color:#0E336D;
  width:960px;
  margin:0px auto;
  font-family: sans-serif;
}
.logo{
  text-indent:-9999px;
  background: url('../images/Donny.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px 100px;
  height:100px;
  width:400px;
  margin:10px 10px 0px 10px;
}
nav {
  width:960;
  padding:10px;
  margin: 5px 10px 10px 10px;
  text-align: center;
  background: #f8ae0f;
  border-radius:10px;
}
.navbar {
  margin: 6px 0px;
  padding: 0px;
}
nav>ul>li {
  display:inline;
  padding: 16px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size:24px;
}
a:link{
  color: #2C5CA8;
  text-decoration: none;
}
a:visited{
  color: #2C5CA8;
  text-decoration: none;
}
a:hover{
  color:#7E9FD3;
}
article{
  color: white;
}
.index{
  background-image: url("../images/don_on_mountain_960.jpg");
  background-size:960px 850px;
  background-repeat:no-repeat;
  background-color: #0E336D;
  width: 940px;
  height: 850px;
  margin:20px 10px;
  border-radius:10px;
}
li.main{
  font-size:32px;
  list-style-type:none;
  line-height: 2.2em;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
}
.mainbullets{
  padding:100px 10px 10px 360px;
}
.pagetitle{
  margin:10px;
  padding:10px;
  font-size: 36px;
  color: #7E9FD3;
  text-shadow: 1px 1px 0px white;
}
.indexicons {
  padding:180px 10px 10px 280px;
}
.icons{
  margin:100px 40px;
  padding:5px;
}
img {
  margin:25px 20px;
}
.column1{
  width: 300px;
  height: 720px;
  float: left;
  margin: 10px;
  background-color:#2C5CA8;
  border-radius:10px;
}
.column2{
  width: 620px;
  height: 720px;
  float: left;
  margin:10px;
  background-color:#2C5CA8;
  border-radius:10px;
}
.column3{
  width: 300px;
  height: 350px;
  float: left;
  margin:10px;
  background-color:#2C5CA8;
  border-radius:10px;
}
.column4{
  width: 620px;
  height: 350px;
  float: left;
  margin:10px;
  background-color:#2C5CA8;
  border-radius:10px;
}
.column5{
  width: 620px;
  height: 300px;
  float: left;
  margin:10px;
  background-color:#2C5CA8;
  border-radius:10px;
}
.column6{
  width: 300px;
  height: 180px;
  float: left;
  margin:10px;
  background-color:#2C5CA8;
  border-radius:10px;
}
.column7{
  width: 620px;
  height: 200px;
  float: left;
  margin:10px;
  background-color:#2C5CA8;
  border-radius:10px;
}
.column8{
  width: 620px;
  height: 165px;
  float: left;
  margin:10px;
  background-color:#2C5CA8;
  border-radius:10px;
}
.portrait {
  display: inline-block;
  vertical-align: middle;
  background-color: #0E336D;
  border: 1px solid #0E336D;
  margin: 10px 15px;
  padding: 5px;
  border-radius: 10px;
  float: right;
}
.bio{
  margin: 20px 10px;
  padding: 5px;
}
p {
  padding:10px;
  margin:10px;
}
h1 {
  padding:10px;
  margin:10px 10px 5px 10px;
  color: #f8ae0f;
  font-size: 22px;
}
ul {
  margin:5px 10px;
}